.pagination {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  min-height: 40px; /* 버튼이 사라져도 높이가 유지되도록 설정 */
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 2px 8px;
}

.page-num {
  border: none;
  background: none;
  color: #B3B3B3;
  font-size: 16px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

/* 눌려있는 페이지 (활성화 상태) 스타일 */
.page-num.active {
  background: linear-gradient(86.58deg, #FA785B 20.5%, #FF3761 89.45%);
  color: white;
  width: 64px;
  height: 34px;
  border-radius: 50px;
  font-weight: bold;
}

.page-num:hover:not(.active) {
  color: #B3B3B3;
}

.page-next {
  color: #1E1E1E;
  transition: color 0.2s;
  font-weight: bold;
}

.page-next:disabled {
  color: #eeeeee;    /* 흐릿하게 변경 */
  cursor: default;   /* 커서 모양 변경 */
  pointer-events: none; /* 클릭 방지 */
}

.paginationArrow {
  width: 11px;
  height: 11px;
}