.bk-modal-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* 배경 50% 어둡게 */
.bk-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.bk-modal-container {
  position: relative;
  width: 500px;
  background-color: #212228; /* 다크 테마 배경 */
  border-radius: 50px;
  padding: 30px;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  box-sizing: border-box;
}

.bk-modal-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.bookmark-title {
    font-size: 18px;
    font-weight: 500;
}

.modal-icon {
  width: 18px;
  height: 18px;
}

.bk-modal-header h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}


.bk-input-wrapper {
  padding: 1px;
  margin: 0 auto;
}

.bk-input-field,
.bk-input-wrapper,
.bk-input-wrapper input {
  width: 100%;
  box-sizing: border-box;
}

.bk-input-field {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.bk-modal-secname {
    font-size: 18px;
    font-weight: 400;
}

.bk-input-field label {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
/* 1. 입력창 감싸는 래퍼 (테두리 역할) */
.bk-input-wrapper {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  padding: 1px; /* 이 패딩 두께가 곧 테두리 두께가 됩니다 */
  box-sizing: border-box;
  background: linear-gradient(86.58deg, #FA785B 20.5%, #FF3761 89.45%);
}

.bk-input-field input {
  width: 100%;
  height: 48px;
  border-radius: 50px;
  border: none;
  padding: 0 20px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;

/* 기본 상태 테두리 */
}


/* 비활성화 상태 (전체 회색) */
.bk-input-wrapper.disabled {
  background: #CCCCCC;
}

.bk-input-wrapper.disabled input {
  background-color: #CCCCCC;
  cursor: not-allowed;
  border: 1px solid #FFFFFF;

}
.bk-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
}

.bk-btn-cancel {
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  background-color: #B3B3B3;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.bk-btn-submit {
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  background: linear-gradient(86.58deg, #FA785B 20.5%, #FF3761 89.45%);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
