/* 백드롭 */
.catCmodal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 박스 */
.catCmodal {
  background-color: #ffffff;
  border-radius: 25px;
  width: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* 모달 타이틀 */
.catmodal-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

/* 구분선 */
.catC-divider, .divider {
  width: calc(100% + 48px);
  height: 1px;
  background-color: #b3b3b3;
  margin-left: -24px;
  margin-bottom: 25px;
}

/* 카테고리 입력 */
.category-input {
  padding: 10px;
  font-size: 8;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: none;
  flex: none;
  width: 350px;
  align-self: center;
}

/* 색상 선택 행 */
.catC-color-row {
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px auto 20px;
  margin-bottom: 50px;
}

/* 색상 동그라미 */
.color-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.color-picker-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* 확인 버튼 */
.catC-confirm-btn {
  width: 350px;
  height: 45px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 999px;
  background:linear-gradient(
    90deg, #FA785B 0%, #FF3761 100%
  );
  color: white;
  cursor: pointer;
  align-self: center;
}

/* =======  카테고리 수정 모달 ======= */

/* 모달 타이틀 */
.catEmodal-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

/* 버튼 영역 */
.catE-btn-row {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 16px;
  align-self: center;
}

.catE-edit-btn {
  width: 150px;
  height: 45px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 999px;
  background:linear-gradient(
    90deg, #FA785B 0%, #FF3761 100%
  );
  color: white;
  cursor: pointer;
}

.catE-delete-btn {
  width: 150px;
  height: 45px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 999px;
  background:linear-gradient(
    90deg, #FA785B 0%, #FF3761 100%
  );
  color: white;
  cursor: pointer;
}