/* 전체 페이지 */
.signup-complete-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 배경 그래픽 */
.signup-complete-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* 완료 박스 */
.signup-complete-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%) scale(0.87);
  justify-content: space-between;
  width: 514px;
  min-height: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding: 35px 30px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* 로고 */
.signup-complete-logo {
  align-items: center;
  top: 20%;
  margin-top: 30px;
  width: 239px;
  height: 50px;
  display: block;
  z-index: 2;
}

/* 완료 문구 */
.signup-complete-text {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  color: #ff3761;
  margin-bottom: 25px;
}

/* 메인 이동 버튼 */
.go-main-button {
  margin-bottom: 30px;
  width: 400px;
  height: 45px;
  border: none;
  border-radius: 999px;
  background:linear-gradient(
    90deg, #FA785B 0%, #FF3761 100%
  );
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  cursor: pointer;
}

.go-main-button:hover {
  background-color: #222222;
}