/* 1. 배경 오버레이 */
.login-alert-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* 뒷배경 어둡게 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-modal-title-icon {
  display: block;
  align-items: center;

}
/* 2. 모달 본체 */
.login-alert-modal-content {
  background-color: #212228; /* 다크 테마 배경 */
  width: 330px;
  padding: 40px;
  border-radius: 50px; /* 아주 둥근 모서리 */
  color: #FFFFFF;
  box-shadow: 0px 2px 15px 5px #0000001A;
}

.login-alert-modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0px;
  background-color: transparent;
  border: none;
  padding: 0px;
}

.login-alert-modal {
  min-width: 500px; /* 이미지에 명시된 너비 */
  min-height: 300px; /* 이미지에 명시된 높이 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-alert-modal-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.login-alert-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-alert-text {
  display: flex;
  align-items: center;
  font-size: 24px; 
  font-weight: 500;
  color: white;
  letter-spacing: -0.02em;
  align-items: center;
  gap: 8px;
}

.login-alert-bold-white {
  width: 200px;
  color: #FFFFFF;
}


.login-alert-btn-cancel {
  padding: 10px 35px;
  min-width: 50px;
  border-radius: 25px;
  border: 2px solid transparent;

  background:
    /* 안쪽 배경 */
    linear-gradient(#B3B3B3, #B3B3B3) padding-box,
    /* border gradient */
    linear-gradient(
      152.27deg,
      #FFFFFF 35.45%,
      rgba(255, 255, 255, 0) 127.61%
    ) border-box;

  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}


.alert-login {
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid transparent;

  background:
    linear-gradient(
      86.58deg,
      #FA785B 20.5%,
      #FF3761 89.45%
    ) padding-box,
    linear-gradient(
      152.27deg,
      #FFFFFF 35.45%,
      rgba(255, 255, 255, 0) 127.61%
    ) border-box;

  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}